h6{
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid grey;
  color: #f15858;
}

#diary-date {
  text-align: center;
  color: #7c4199;
}

.container {
  margin-left: 100px;
  width: 80%;
}

p {
  color: red;
}
/*h4 {
  text-align: center;
}

table {
  margin-left: 50px;
  width: 90%;
}

.waves-effect {
  margin-left: 50px;
  margin-top: -10px;
}

i.small {
  color: #F65143;
}

#food-name {
  margin-left: 50px;
  width: 80%;
}

#exercise-name {
  margin-left: 50px;
  width: 80%;
}

#food-calories {
  width: 90%;
}

#exercise-calories {
  width: 90%;
}

#food-filter {
  margin-left: 50px;
  width: 90%;
}

#exercise-filter {
  margin-left: 50px;
  width: 90%;

}

a {
  margin-left: 50px;
  padding-top: 100px;
}*/
