h6{
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid grey;
  color: #f15858;
}

#today {
  text-align: center;
  color: #7c4199;
}

.container {
  margin-left: 100px;
  width: 80%;
}

p {
  color: red;
}
#buttons {
  margin-top: 30px;
}
.single-table {
  width: 800px;
  height: auto;
}
.green-text {
  color: green;
}

.red-text {
  color: red;
}

h4 {
  text-align: center;
}
